# Exclude composer files
vendor/
composer.lock

# Exclude config files
config.php

# Exclude log files
*.log*

# Exclude credentials folder
.credentials/

# Exclude temp folder and files
.tmp/
.tmp.*
.cache/
